:root{
    --primary-color:white;
    --secondary-color:rgb(211, 66, 22);
    --bg-color:black;
}

@media (max-width:570px){
    .nav i:hover +ul {       
        left: 65%;  
        top:50px ;
    }
}
@media(max-width:800px){
    .front{
    height: 275px;
    width: 220px;
    top: 40%;
    left: 65%;
   }
   .content{
    font-size:16px;
    line-height:1 ;
   }
}
@media (max-width:1005px){
    .container{
        max-width: 800px;
    }
    .back{
        display: none;
    }
   
   .nav ul{
     display: none;
    }
    .top{
        display: none;
    }
    .nav i:hover +ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -27px;
        left: 60%;
        z-index: 3;
     line-height: .2;
   
    }
}


.nav i {
    color: white;
    font-size: 2rem;
   position: fixed;
   top: 34px;
   right: 90px;
}
h1{
    margin: 2rem;
}

span{
    color: var(--secondary-color);
    font-weight: bold;
}
 
body{
    background-color:var(--bg-color);
    color: var(--primary-color);
    line-height: 30px;
    position: relative;
    font-size: 18px;
    margin-left: 10px;
    letter-spacing: 1px;
}

 .nav ul {
    position: absolute;
    top: -34px ;
    right: 231px;
    list-style: none;
}

 .nav ul li{
    padding: 10px;
    margin: 10px ;  
    display: inline-flex;

}

ul a{
    text-decoration: none;
    color: white;
}
ul a :hover,
.icons a :hover{
    color: var(--secondary-color);
}

.top{
    position: absolute;
    right: 25px;
    top: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    font-style: italic;
    border-radius: 50px;
    padding: 10px;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 11rem;
}
.one{
    text-indent: 30px;
    text-transform: capitalize;
}

.name{
    font-weight: bold;
    font-size: 2.3rem;
}

.back{
    position: absolute;
    right: 116px;
    bottom: -43px;
}
.back:hover{
    opacity: 0.3;  
}
.front{
     position: absolute; 
     right: 4px;
     bottom: -43px;
}

button{
    width: 150px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 40px;
    text-align: center;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.icons a{
    margin-left: 30px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
}
img{
    border-radius: 30px;
}